._ds-button {
    background: transparent;
    color: var(--primary-text-color);
    border: 1px solid var(--section-border-color);

    &:has(svg) {
        display: inline-flex;
        align-items: center;
    }
    
    &._ds-button.primary {
        background-color: var(--primary-link-color);
        color: var(--section-border-color);
        border-color: transparent;
    }
    
    &._ds-button.secondary {
        color: var(--primary-link-color);
        border-color: var(--primary-link-color);
        background-color: var(--paper);
    }
}