._ds-button {
    background: transparent;
    color: var(--primary-text-color);
    border: 1px solid var(--section-border-color);
}

._ds-button.primary {
    /* testing - TODO: add button theme */
    color: red;
}