html {
  /* color variables */
  --black: #1B1132;
  --white: #FBFBFB;

  --blue-500:#004C82;
  
  --dark-200: #311F5B;
  
  --gray-200: #DBDBDB;

  --lime-500: #80FF72;

  --purple-600: #5B3AAE;

  /* spacing variables */
  --padding-x: 40px;
  --padding-y: 24px;
}

/* themes */
[data-theme='light'] {
  /* backgrounds */
  --paper: var(--white);

  /* typography */
  --primary-text-color: var(--black);
  --primary-link-color: var(--purple-600);

  /* accents */
  --section-border-color: var(--gray-200);
}

[data-theme='dark'] {
  /* backgrounds */
  --paper: var(--black);

  /* typography */
  --primary-text-color: var(--white);
  --primary-link-color: var(--lime-500);

  /* accents */
  --section-border-color: var(--dark-200);
}


/* root html styles */
html, body {
  height: 100%;
  font-family: "Noto Serif", serif;
}

.heading-typography {
  font-family: "Zain", serif;
}

body {
  background-color: var(--paper);
  color: var(--primary-text-color);
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--primary-link-color);
}

header {
  padding: var(--padding-y) var(--padding-x);
  border-bottom: 1px solid var(--section-border-color);
}

h1 {
  margin: 0;
}

main {
  padding-left: var(--padding-x);
  padding-right: var(--padding-x);
  flex: 1;
}

footer {
  padding: var(--padding-y) var(--padding-x);
  text-align: right;
  border-top: 1px solid var(--section-border-color);
}